# P3. Exploration SQL

Le répertoire `/db` contient une base de données SQLite3 `olympics.sqbpro` reprenant les résultats des épreuves des jeux d'été pour une période donnée (cf P1 & P2).

On s'intéresse dans le cadre de cette partie P3 à l'exploration via SQL des résultats des JO d'été (table : `summer`).

---

### Question 1: Qu'est ce que SQL ?

SQL est un langage informatique qui sert à exploiter une des bases de données relationnelles.

### Question 2: Qu'est ce que SQLite 3 ? Avantages et/ou Inconvénients ?

 - SQLite est un système de base de données qui a la particularité de fonctionner sans serveur, on dit aussi "standalone" ou "base de données embarquée". On peut l'utiliser avec beaucoup de langages : PHP, Python, C# (.NET), Java, C/C++, Delphi, Ruby...
 
 
 -  SQLite 2 est devenue obsolète lors de la sortie de SQLite 3 en 2004.
 
 
 - La version 3 apporte de meilleures performances ainsi que son lot utile comme :
     - Auto increment (très utile pour les clé primaires à base d'entiers générés automatiquement)
     - Stockage plus efficace (SQLite2 stocke tous les types sous forme de chaine de caractère : entiers, chaines, BLOB... ce qui occupe de                                                     l'espace  disque inutilement)
     - Support des clés étrangères
    
    
 - Avantages:
     - Simplicité
     - Peut remplacer d'autre logiciel de même type (il y est plus performant,propre,portable)
     - Léger, rapide, et n'a pas besoins de serveur
     
     
 - Inconvénients:
     - Ecritures atomiques
     - N'aime pas trop les grosses bases de données 


[Finalclap](http://www.finalclap.com/faq/94-mysql-log-binaire-journal-transaction)

[Idleman](http://blog.idleman.fr/leed-pourquoi-sqlite3-est-un-mauvais-choix/)

### Question 3: Donner des exemples d'autres formats de fichier pouvant être utilisé pour fournir des données similaires

XML, JSON, RDF

### Question 4: Quel est le type (texte ou binaire) du fichier base de données SQLite3?

Le fichier `olympics.sqbpro` est un fichier binaire

### Question 5: Donner les caractéristiques de la table `summer` ?

La table summer:

![Structure.png](screen/Structure.PNG)

---
### Question 6: Combien d'enregistrements possède la table `summer` ?

```SQL
SELECT count(*)
FROM summer;
```
Résultat: 31165

![countQ6](screen/countQ6.PNG)

### Question 7: Quelle période des JO couvre ce fichier de résultats ?

```SQL
SELECT MIN(Year) AS min_year, 
    MAX(Year) AS max_year
FROM summer;
```

![Q7](screen/Q7.PNG)

### Question 8: Indiquer les années et villes des olympiades ?

```SQL 
SELECT DISTINCT Year, City
FROM summer; 
```

![Q8](screen/Q8.png)

---

## Questions collectives

---

### Q12 - Quel est l’athlète qui a remporté le plus de médailles d’or ? (Mayel)

```SQL
SELECT Athlete, COUNT(Medal) AS Gold_MEDAL
FROM summer
WHERE Medal='Gold'
GROUP BY Athlete
ORDER BY Gold_Medal DESC
LIMIT 3;
```

![Q12](screen/Q12.PNG)

 ### Q2. Quel pays a le plus d’athlètes (toutes années confondues) ? (Matthias)

```SQL
SELECT Country, 
    COUNT(Athlete) AS Total_athletes
FROM summer
GROUP BY Country
ORDER BY Total_athletes DESC;
```

![Q2](screen/Q2.PNG)

### Q1. Combien la France a remporté de médailles d’or aux JO de 1984 ? - (Christophe)

```SQL
SELECT Country, Year, COUNT(Medal)
FROM summer
WHERE Country='FRA' AND Year='1984' AND Medal='Gold';
```

![Q1](screen/Q1.PNG)

### Q3. En 2012 combien de médailles le Japon a t-il gagné ? (Théo)

```SQL
SELECT Country, Year, COUNT(Medal)
FROM summer
WHERE Country='JPN' AND Year='2012';
```

![Q3](screen/Q3.PNG)

### Q4. Dans quels différents sports les Grecs ont-ils gagné des médailles ? - (Corentin L)

 ```SQL
SELECT DISTINCT Sport,Country
FROM summer
WHERE Country='GRE'
```

![Q4](screen/Q4.PNG)

### Q5. Quel pays a remporté le plus de médailles d’or ? (Philippe)

```SQL
SELECT Country, COUNT(Medal) AS Total_medal
FROM summer
WHERE Medal='Gold'
GROUP BY Country
ORDER BY Total_medal DESC
LIMIT 10;
```

![Q5](screen/Q5.PNG)

### Q6. Combien de villes différentes ont accueilli les JO d’été entre 1896 - et 2012 ? (Yoann)

```SQL
SELECT DISTINCT City
FROM summer;
```

![Q6](screen/Q6bis.PNG)

### Q7. Combien de femmes ont obtenu une médaille d’or ? (Lamia)

```SQL
SELECT Gender, 
	COUNT(Medal)
FROM summer
WHERE Gender='Women' AND Medal='Gold';
```

![Q7](screen/Q7bis.PNG)

### Q8. Combien de sports différents sont représentés par année ? (joris)

```SQL
SELECT Year, COUNT(DISTINCT Sport)
FROM summer
GROUP BY Year;
```

![Q8](screen/Q8bis.PNG)

### Q9. Combien de fois Londres a accueilli les J.O ? (Marvin)

```SQL
SELECT Year, City
FROM summer
WHERE City ='London'
GROUP BY Year;
```

![Q9](screen/Q9.PNG)

### Q10. Combien de joueuses comptait la sélection brésilienne de volley-ball - médaillée d’or aux J.O de 2012 ? (Corentin P)

```SQL
SELECT Country,COUNT(Gender) Sport, Year, Medal
FROM summer
WHERE Country='BRA' 
	AND Sport='Volleyball' 
	AND Year=2012 
	AND Medal='Gold' 
	AND Gender='Women';
```

![Q10](screen/Q10.PNG)

### Q11. Combien de femmes françaises ont participé en 2012 , quel sont leurs - médailles ? (izak)

```SQL
SELECT count(DISTINCT Athlete) AS Athletes, count(Medal) AS Medal
FROM summer
WHERE Gender='Women' 
    AND Country='FRA' 
    AND Year=2012
```

![Q11](screen/Q11.PNG)

Pour être plus précis sur les médailles gagnées:
    
```SQL
SELECT Athlete, Sport, Event, Medal,Year, Gender
FROM summer
WHERE Country='FRA'
    AND Gender='Women'
    AND Year=2012
```

![Q11](screen/Q11bis.PNG)

### Q13. Est-ce que la France à déjà gagné une médaille d’or au cricket ? - (jordan)

```SQL
SELECT Country, Sport, Medal
FROM summer
WHERE Country='FRA'
	AND Sport='Cricket'
	AND Medal='Gold';
```

Aucune valeurs ne sort car la France n'a pas gagné de médaille d'or au Cricket

![Q13](screen/Q13.PNG)

### Q14. Combien de médaillés ont un nom de famille de plus de 6 lettres en - excluant les années paires ? (jonathan)

Il y a que des années paires au JO, donc on obtient 0 médaillés.

### Q15. Le nombre de médailles d’or par pays en 2012 (Maëlle)

```SQL
SELECT Country, Year, COUNT(Medal)
FROM summer
WHERE Medal='Gold'
	AND Year=2012
GROUP BY Country
ORDER BY COUNT(Medal) DESC;
```

![Q15](screen/Q15.PNG)

### Q16. Combien de femmes ont remporté des médailles ? (Alicia)

```SQL
SELECT Gender , Medal, COUNT(DISTINCT Athlete) AS Total_women
FROM summer
WHERE Gender='Women';
```

![Q16](screen/Q16.PNG)

### Q17. Entre 1984 et 2012 combien de médailles a gagné la France ? (Abire)

```SQL
SELECT Country,COUNT(Medal) AS Total_medal
FROM summer
WHERE Country='FRA'
	AND Year BETWEEN 1984 AND 2012;
```

![Q17](screen/Q17.PNG)

---

Fin